{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    About Me - {{ block.super }}
{% endblock title %}

{% block content %}

<div class="about_intro">
	<h2>Hello everyone!</h2>
    <p>This is Warren House Maintenance Project. First reason I created this, is to make our work easier.
    Every department of this company has some technical issues; loose screws on firedoors, printer with jammed paper, hanging spot light on ceiling, restroom flush not working propely or outdoor issues. I had on my mind few of this. I created this application to make it easier to organise and fix the problems that you've spotted. Welcome to my Application!</p>
</div>

    <center>
    Before you add anything, decide to which group your problem belongs. There are four groups of issues:
    </center>

    {% if user.is_authenticated %}

    <div id="accordion">
    	<div class="row">

            <div class="col-sm">
              <a class="btn btn-outline-dark" href="#collapseOne" data-toggle="collapse"><h2>Garden</h2></a>
              <div id="collapseOne" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			        You've seen that one of the table in terrace is wobbly, parasol has broken parts or any other issues from outdoors - Garden
			      </div>
			  </div>
              <p><a class="btn btn-light" href="{% url 'garden' %}" role="button">Show list  &raquo;</a></p>
            </div>

            <div class="col-sm">
              <a class="btn btn-outline-dark" data-toggle="collapse"  href="#collapseTwo"><h2>Maintenance</h2></a>
              <div id="collapseTwo" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			       You've noticed that door knob is about to fall out, some screws are loose or any other actions with hammer or screwdriver - Maintenance
			      </div>
			  </div>
              <p><a class="btn btn-light" href="{% url 'maintenance' %}" role="button">Show list  &raquo;</a></p>
            </div>

            <div class="col-sm">
              <a class="btn btn-outline-dark" data-toggle="collapse"  href="#collapseThree"><h2>Electric</h2></a>
              <div id="collapseThree" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			        You noticed a spot light in bedroom, lamp without light bulb, socket that is not working or anything connected to power - Electric
			      </div>
			  </div>
              <p><a class="btn btn-light" href="{% url 'electric' %}" role="button">Show list &raquo;</a></p>
            </div>

           <div class="col-sm">
              <a class="btn btn-outline-dark" data-toggle="collapse"  href="#collapseFour"><h2>Plumbing</h2></a>
              <div id="collapseFour" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			        You've just discovered that toilet is blocked, tap is dripping or there is slippery surface because of some leak - Plumbing
			      </div>
			  </div>
              <p><a class="btn btn-light" href="{% url 'plumbing' %}" role="button">Show list &raquo;</a></p>
            </div>

    {% else %}

    <div id="accordion">
    	<div class="row">

            <div class="col-sm">
              <a class="btn btn-outline-dark" href="#collapseOne" data-toggle="collapse"><h2>Garden</h2></a>
              <div id="collapseOne" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			        You've seen that one of the table in terrace is wobbly, parasol has broken parts or any other issues from outdoors - Garden
			      </div>
			  </div>
            </div>

            <div class="col-sm">
              <a class="btn btn-outline-dark" data-toggle="collapse"  href="#collapseTwo"><h2>Maintenance</h2></a>
              <div id="collapseTwo" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			       You've noticed that door knob is about to fall out, some screws are loose or any other actions with hammer or screwdriver - Maintenance
			      </div>
			  </div>
            </div>

            <div class="col-sm">
              <a class="btn btn-outline-dark" data-toggle="collapse"  href="#collapseThree"><h2>Electric</h2></a>
              <div id="collapseThree" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			        You noticed a spot light in bedroom, lamp without light bulb, socket that is not working or anything connected to power - Electric
			      </div>
			  </div>
            </div>

           <div class="col-sm">
              <a class="btn btn-outline-dark" data-toggle="collapse"  href="#collapseFour"><h2>Plumbing</h2></a>
              <div id="collapseFour" class="collapse" data-parent="#accordion" class="btn btn-outline-dark">
			      <div class="card-body">
			        You've just discovered that toilet is blocked, tap is dripping or there is slippery surface because of some leak - Plumbing
			      </div>
			  </div>
            </div>

    {% endif %}
    </div>
    </div>

    



{% endblock content %}