<!DOCTYPE html>
	<html lang="en">
		{% load staticfiles %}
		
		<head>

			<title>
				{% block title %}
					Desktop Maintenance Application
				{% endblock title %}
			</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="{% static 'main_test.css' %}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
			<!-- <link rel="stylesheet" href="{% static 'homepage/css/mains.css' %}"> -->
			<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
			<link rel="icon" href="{% static 'homepage/img/favicon.jpg' %}">
		</head>

	<body>

		<div id="page-container">
		
			<a href="/" target="blank">
					<img src="{% static 'homepage/img/blue_logo.svg' %}" class="responsive-img" alt="blue-logo"></a>
			<p id="page_title">Maintenance__Web__Application</p>

			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" href="#">Start</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">

					{% if user.is_authenticated %}
						<ul class="navbar-nav">
							
							<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="{% url 'garden' %}">Garden</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="{% url 'maintenance' %}">Maintenance</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="{% url 'electric' %}">Electric</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="{% url 'plumbing' %}">Plumbing</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="{% url 'contact' %}">Contact</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/logout">Log out</a>
							</li>
						</ul>

					{% else %}

						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">Sign up</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/login">Log in</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{% url 'contact' %}">Contact</a>
							</li>
						</ul>

					{% endif %}
				</div>
			</nav>

			<footer id="footer">
				<p><a href="{% url 'contact' %}">Contact </a>
				<a href="/" target="_blank">| Warren House </a>
				<a href="{% url 'about' %}">| About</a></p>
			</footer>
		</div>

		{% block content %}
		{% endblock %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
	</html>
