<!DOCTYPE html>
	<html lang="en">

		<head>

		<link rel="stylesheet" type="text/css" href="main_test.css">

<!-- The line above is for testing purpose -->

			<title>
				Desktop Maintenance Application
			</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="{% static 'homepage/css/mains.css' %}">
			<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
			<link rel="icon" href="{% static 'homepage/img/favicon.jpg' %}">
		</head>

	<body>

		<div id="page-container">
		<p>lorem ipsum page container</p>
		<a href="/" target="blank">
				<img src="/home/levi/DjangoProjects/house_folder/homepage/static/homepage/img/blue_logo.svg" class="responsive-img" alt="blue-logo"></a>
			<div id="content-wrap">
			lorem ipsum content wrap
			</div>
			<footer id="footer">main|copy|twitter</footer>
		</div>
	</body>
	</html>