<!DOCTYPE html>
	<html lang="en">

		<head>

		<link rel="stylesheet" type="text/css" href="main_test.css">

<!-- The line above is for testing purpose -->

			<title>
				Desktop Maintenance Application
			</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
			<!-- <link rel="stylesheet" href="{% static 'homepage/css/mains.css' %}"> -->
			<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
			<link rel="icon" href="{% static 'homepage/img/favicon.jpg' %}">
		</head>

	<body>

		<div id="page-container">
		
			<a href="/" target="blank">
					<img src="/home/levi/DjangoProjects/house_folder/homepage/static/homepage/img/blue_logo.svg" class="responsive-img" alt="blue-logo"></a>
			<p>Maintenance__Web__Application</p>

			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" href="#">Start</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#">Garden</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#">Maintenance</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#">Electric</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#">Plumbing</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Log out</a>
						</li>
					</ul>

				</div>
			</nav>

			
			<div id="content-wrap">
			lorem ipsum content wrap
			</div>
			<footer id="footer">main|copy|twitter</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
	</html>
