<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

	<head>

		<title>
			{% block title %}
				Mr Slavosh
			{%endblock title %}
		</title>
	  
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


	</head>


	

	<body>

	<center>
		<img src="{% static 'homepage/img/warren.gif' %}" class="responsive-img" style='max-height:100px;' alt="face">
		<h3>Dr. Slavosh__Software__Handy_man</h3>
	</center>

	<div class="container">

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <a class="navbar-brand" href="{% url 'about' %}">START</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">

	  	{% if user.is_authenticated %}
	  	

	  		 <ul class="navbar-nav">

	  		  <li class="nav-item">
	        	<a class="nav-link" href="/"><i class="fas fa-home"></i>Home</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'garden' %}"></span><i class="fas fa-tree"></i>Garden</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'maintenance' %}"><i class="fas fa-wrench"></i>Maintenance</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'electric' %}"><i class="fas fa-bolt"></i>Electric</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'plumbing' %}"><i class="fas fa-tint"></i>Plumbing</a>
		      </li>

		       <li class="nav-item">
		        <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-envelope"></i>Contact</a>
		      </li> 
		       <li class="nav-item">
		        <a class="nav-link" href="/logout" id="nav-right"><i class="fas fa-sign-out-alt"></i>Logout</a>
		      </li>
	        </ul>
        {% else %}

        	<ul class="navbar-nav">
        		<a class="nav-link" href="/"><i class="fas fa-home"></i>Home</a>
        		<a class="nav-link" href="/login"><i class="fas fa-address-card"></i>Login</a>
        		<a class="nav-link" href="/signup"><i class="fas fa-user-plus"></i>Sign Up</a>
        	</ul>
		        
		     

        {% endif %}


	  
   

        	
		        
		     
		    
		      
	  </div>  
	</nav>

		{% block content %}

		{% endblock %}	
		</div>
				<div class="container-fluid">
					<footer>
						<p><a href="{% url 'contact' %}"</>Contact</a> | <a href="http://www.warrenhouse.com/" target="blank">Warren House</a> | <a href="{% url 'about' %}">About</a> </p>
				</footer>
				</div>

				
			

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
			   
</html>








	
	
	


      
   
