{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Contact - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="back">
    <h4>
        <a href="#", onClick="history.go(-1);return true;" button type="submit" class="btn btn-outline-dark",></button><i class="fas fa-angle-double-left"></i> Back</a>
    </h4>
</div>

    <center>
    	<p class="contact">If you have any questions or suggestions how we can get<br> this webpage working easier, faster, more efficient please send me <a href="mailto:bartosz.lewosz@gmail.com?Subject=My%20suggestions" target="_top">an email</a></p>
    </center>

    
   
    


{% endblock content %}