{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}

   
    {% if user.is_authenticated %}

    	<p>welcome {{ user.username }}</p>
        <li><a href="{% url 'about' %}"><i class="glyphicon glyphicon-tree-conifer"></i>Where to start?</a></li>

        <section class="section-problems">
            <section class="section-garden">

            {% for problem in problems %}
                <br>{{ problem.location }}
                {{ problem.descr }}
                {{ problem.date }}
            {% endfor %}

            </section>

             <section class="section-maintenance">
                {% for m in maintenance %}
                    <br>{{ m.location }}
                    {{ m.descr }}
                    {{ m.date }}
                {% endfor %}
            </section>

            <section class="section-plumbing">
                {% for p in plumbing %}
                    <br>{{ p.location }}
                    {{ p.descr }}
                    {{ p.date }}
                {% endfor %}

            </section>

            <section class="section-electric">
                {% for e in electric %}
                    <br>{{ e.location }}
                    {{ e.descr }}
                    {{ e.date }}
                {% endfor %}
            </section>

            
        </section>

            

    {% else %}

        <h1>Hello World!</h1>
        <p>I am a basic website.</p>
    	<a href="{% url 'login' %}">Login</a>

    {% endif %}


{% endblock content %}