{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}

{{ today|date:"l, jS F Y" }}
   
    {% if user.is_authenticated %}


    	<h5 class="welcome">welcome {{ user.username }}</h5>
        <h3>Choose your problem</h3>

        

        <div class="row">

            <div class="col-sm">
              <a class="btn btn-outline-dark" href="{% url 'garden_new' %}"><h2>Garden</h2></a>
              <p><a class="btn btn-outline-dark" href="{% url 'garden' %}">Show all  &raquo;</a></p>
            </div>

            <div class="col-sm">
                <a class="btn btn-outline-dark" href="{% url 'maintenance_new' %}"><h2>Maintenance</h2></a>
                <p><a class="btn btn-outline-dark" href="{% url 'maintenance' %}">Show all  &raquo;</a></p>
            </div>

            <div class="col-sm">
                <a class="btn btn-outline-dark" href="{% url 'electric_new' %}"><h2>Electric</h2></a>
                <p><a class="btn btn-outline-dark" href="{% url 'electric' %}" role="button">Show all  &raquo;</a></p>
            </div>

            <div class="col-sm">
                <a class="btn btn-outline-dark" href="{% url 'plumbing_new' %}"><h2>Plumbing</h2></a>   
                <p><a class="btn btn-outline-dark" href="{% url 'plumbing' %}" role="button">Show all  &raquo;</a></p>
            </div>

        </div>

    {% else %}
      <div class="back">

        <h2>Welcome!</h2>
             <center>
               To continue please log in or sign up
             </center> 
      </div>
        
    	

    {% endif %}


{% endblock content %}