{% extends 'homepage/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login">
	<h3>Login</h3>
	  <form method="POST", autocomplete="off">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit" class="btn btn-outline-dark">Login</button>
	  </form>
  <a href="{% url 'password_reset' %}", button type="submit", class="btn btn-outline-dark">Reset password</a>
</div>
  
{% endblock %}


<!--<a href="{% url 'garden_print' %}", button type="submit", class="btn btn-outline-dark"></button><span class="fas fa-print"></span> Print</a>

