{% extends 'homepage/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h3>Login</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-dark">Login</button>
  </form>
  <a href="{% url 'password_reset' %}", button type="submit", class="btn btn-outline-dark">Redet password</a>
{% endblock %}


<!--<a href="{% url 'garden_print' %}", button type="submit", class="btn btn-outline-dark"></button><span class="fas fa-print"></span> Print</a>

