{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<div>
	<h3><a href="/", <button type="button" class="btn btn-warning"></button>Homepage</a></h3>
</div>

	{% for problem in problems %}
    	
    	<div>
       		<h4><a href="{{problem.id}}">{{ problem.location }}</a></h4>
    		<p>{{ problem.descr }}</p>
    		<p>published: {{ problem.date }} by: {{ problem.author }}<br></p>
    	</div>

    {% endfor %}



{% endblock content %}