{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Detail - {{ block.super }}
{% endblock title %}

{% block content %}


    <h4>
    	<a href="#", onClick="history.go(-1);return true;" button type="submit" class="btn btn-outline-dark",></button><i class="fas fa-angle-double-left"></i> Back</a>
    </h4>

	<h5>{{problem.location}}</h5>
   	
   		<h6 id="border">
   			{{problem.descr|safe}}
   		</h6>

    <div class="detail">

        <h6>on {{problem.date}}, posted by {{problem.author}}</h6>

    </div>
    
<div class="edit">
	<a href="{% url 'garden_edit' pk=problem.pk %}" button type="submit" class="btn btn-outline-dark"></button>Edit</a>
	<a href="{% url 'garden_delete' pk=problem.pk %}"button type="submit" class="btn btn-outline-dark",></button>Done</a>

</div>



{% endblock content %}