{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Detail - {{ block.super }}
{% endblock title %}

{% block content %}


<div class="problem_title">
<h5>{{problem.location}}</h5>
</div>
    {{problem.descr|safe|linebreaks}}
    <div class="detail">

        <h6>on {{problem.date}}, posted by {{problem.author}}</h6>

    </div>
    

<a href="{% url 'garden_edit' pk=problem.pk %}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
<a href="{% url 'garden_delete' pk=problem.pk %}"><span class="glyphicon glyphicon-trash"></span>Done</a>

{% endblock content %}