{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Delete - {{ block.super }}
{% endblock title %}

{% block content %}

	 <h2>Please log in first!</h2>

	 <!--	Probably javascript for future as an alert or smth -->
    	<form method="POST" class="post-form">{% csrf_token %}

    	<!--	^^This line takes you back to list page	-->
        
        <h4><button type="submit" class="btn btn-outline-dark">
        <i class="fas fa-angle-double-left"></i>Back</button></h4>
    </form>




{% endblock content %}



   