{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Plumbing - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="back">
    <h4>
        <a href="#", onClick="history.go(-1);return true;" button type="submit" class="btn btn-outline-dark",></button><i class="fas fa-angle-double-left"></i> Back</a>
    </h4>
</div>
    <div class="new">
        <a href="{% url 'plumbing_new' %}", button type="submit" class="btn btn-outline-dark"></button><span class="fas fa-plus-square"></span> New</a>

    </div>
    
    <div class="print">
    <a href="{% url 'plumbing_print' %}", button type="submit", class="btn btn-outline-dark"></button><span class="fas fa-print"></span> Print</a>
    </div>
    

            
<div class="table-responsive">
        <table class="table">
        <h2>Plumbing</h2>
        <thead>
            <tr>
                <th>No. by date</th>
                <th>Where</th>
                <th>what</th>
                <th>When</th>
                <th>Who</th>
                <th>Edit</th>
                <th>Done</th>
            </tr>
        </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.id }}</td>
                    <td><a href="{{problem.id}}">{{ problem.location }}</a></td>
                    <td>{{ problem.descr }}</td>
                    <td>{{ problem.date }}</td>
                    <td>{{ problem.author }}</td>
                    <td><a href="{% url 'plumbing_edit' pk=problem.pk %}"><span class="glyphicon glyphicon-edit"></span>Edit</a></td>
                    <td><a href="{% url 'plumbing_delete' pk=problem.pk %}"><span class="glyphicon glyphicon-trash"></span>Done</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% with problems as items %}
            {% if items.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-left">
                        {% if items.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                        {% endif %}
                        {% for i in items.paginator.page_range %}
                            {% if items.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endwith %}
</div>



{% endblock content %}

