{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Plumbing - {{ block.super }}
{% endblock title %}

{% block content %}

    <h4>
        <a href="#", onClick="history.go(-1);return true;" button type="submit" class="btn btn-outline-dark",></button><i class="fas fa-angle-double-left"></i> Back</a>
    </h4>

    <div class="button-right">

        <a href="{% url 'plumbing_new' %}", button type="submit" class="btn btn-outline-dark"></button><span class="fas fa-plus-square"></span> New</a>

        <a href="{% url 'plumbing_print' %}", button type="submit", class="btn btn-outline-dark"></button><span class="fas fa-print"></span> Print</a>

        <a href="{% url 'plumbing_done' %}", button type="submit", class="btn btn-outline-dark"></button><span class="fas fa-check-square"></span> Done list</a>

    </div>







<div class="table-responsive">
        <table class="table">
        <h2>Plumbing</h2>
        <thead>
            <tr>
                <th class="table-mobile">No. by date</th>
                <th>Where</th>
                <th class="table-mobile">what</th>
                <th>Edit</th>
                <th class="table-mobile">Done</th>
                <th class="table-mobile">Status</th>
                <th>Priority</th>
            </tr>
        </thead>
            <tbody>
                {% for problem in problems %}
                    {% if problem.status != 'COMPLETED' %}
                    <tr>
                        <td class="table-mobile">{{ problem.id }}</td>
                        <td><a href="{{problem.id}}">{{ problem.location }}</a></td>
                        <td class="table-mobile">{{ problem.descr }}</td>
                        <td><a href="{% url 'plumbing_edit' pk=problem.pk %}"><span class="fas fa-edit"></span></a></td>
                        <td class="table-mobile"><a href="{% url 'plumbing_delete' pk=problem.pk %}"><span class="far fa-trash-alt"></span></a></td>
                        {% if problem.priority == 'EMERGENCY' %}
                            <td id="flag_0">{{ problem.priority }}</td>
                        {% elif problem.priority == 'HIGH' %}
                            <td id="flag_1">{{ problem.priority }}</td>
                        {% elif problem.priority == 'MEDIUM' %}
                            <td id="flag_2">{{ problem.priority }}</td>
                        {% elif problem.priority == 'LOW' %}
                            <td id="flag_3">{{ problem.priority }}</td>
                        {% endif %}
                        <td class="table-mobile">{{ problem.status }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% with problems as items %}
            {% if items.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-left">
                        {% if items.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                        {% endif %}
                        {% for i in items.paginator.page_range %}
                            {% if items.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endwith %}
</div>



{% endblock content %}

