/*
=============================================================================
================================================================== BODY =====
=============================================================================
*/

html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body {
	min-height: 100%;
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
    font-size: 24px;
    position: relative;
    margin: 0;
}

/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
================================================================ NAVBAR =====
=============================================================================
*/

.navbar {
	border-radius: 10px;
	text-align: center;
}
.navbar-nav, .nav-link {
	text-align: center;
	padding-left: 10px;
	margin: 5px;
}

.nav-item, .nav-link {
	text-align: center;
}


/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
============================================================ INDEX PAGE =====
=============================================================================
*/

.welcome, .time {
	text-align: center;
	padding: 30px;
}

.row {
	text-align: center;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 15%;
	padding-right: 15%;
	font-variant: small-caps;
}

.responsive-img {
	padding: 10px;
	border-radius: 15px;
	max-width: 100%;
	height: auto;

}

/*
#############################################################################
#############################################################################
*/


/*
=============================================================================
======================================================== PROBLEM DETAIL =====
=============================================================================
*/



.detail {
	font-variant: small-caps;
	color: grey;
	text-align: center;
}

#border {
    margin: 10% 20% 20%;
	border: 2px solid orange;
	border-radius: 5px;
}
/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
=============================================================== BUTTONS =====
=============================================================================
*/

.button-right {
	text-align: right;
	padding: 50px;
}

.btn {
	font-size: 1rem;
	line-height: 1.2;
	white-space: nowrap;
	margin: 0.25rem;
	cursor: pointer;
}

/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
=============================================================== COLOURS =====
=============================================================================
*/

#contact_color {
	color: orange;
}
#garden_color {
	color: green;
}
#maintenance_color {
	color: black;
}
#plumbing_color {
	color: lightblue;
}
#electric_color {
	color: #fcc01e;
}
#flag_0 {
	color: red;
	font-weight: bold;
}
#flag_1 {
	color: orange;
	font-weight: bold;
}
#flag_2 {
	color: blue;
}
#flag_3 {
	color: green;
}
/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
================================================== ALIGNMENT & HEADINGS =====
=============================================================================
*/

.table {
	width: 100%;
}
.table-responsive {
	max-width: 100%;
	height: auto;
	padding: 25%;
}

h2, h3, h4, h5, h6 {
	text-align: center;
	padding: 20px;
}

.contact, .edit, .new-form, .login,
.password_reset {
	text-align: center;
	font-size: 16px;
	padding: 20px;
}

.signup {
	text-align: left;
	margin-left: 40px;
	margin-top: 30px;
}

.pagination {
	padding: 0 0 10% 40%;

}
.about_intro, .password_reset_done {
	margin: 60px;
	text-align: center;
	line-height: 30px;
}
.footer {
  	right: 0;
  	left: 0;
  	padding: 20px;
  	padding-top: 10px;
  	text-align: center;
  	bottom: 0;
  	margin-bottom: -50px;
}

.card-body {
	margin-bottom: 10px;
	text-align: justify;
}

/*
#############################################################################
#############################################################################
*/