/*
=============================================================================
================================================================== BODY =====
=============================================================================
*/

body {
    min-height: 100px;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive, Arial, sans-serif;
}
html {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
}

/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
================================================================ NAVBAR =====
=============================================================================
*/

.navbar {
	border-radius: 10px;
	text-align: center;
}
.navbar-nav, .nav-link {
	text-align: center;
	padding-left: 10px;
	margin: 5px;
}

.nav-item, .nav-link {
	text-align: center;
}


/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
============================================================ INDEX PAGE =====
=============================================================================
*/

.welcome, .time {
	text-align: center;
	padding: 30px;
}

.row {
	height: 75px;
	text-align: center;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 250px;
	font-variant: small-caps;
}

.responsive-img {
	padding: 10px;
	border-radius: 15px;
	
}

/*
#############################################################################
#############################################################################
*/


/*
=============================================================================
======================================================== PROBLEM DETAIL =====
=============================================================================
*/



.detail {
	font-variant: small-caps;
	color: grey;
	text-align: center;
}

#border {
	border: 2px solid lightgrey;
	border-radius: 5px;
}
/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
=============================================================== BUTTONS =====
=============================================================================
*/

.button-right {
	text-align: right;
}

.btn {
	font-size: 1rem;
	line-height: 1.2;
	white-space: nowrap;
	margin: 0.25rem;
	cursor: pointer;
}

/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
=============================================================== COLOURS =====
=============================================================================
*/

#contact_color {
	color: orange;
}
#garden_color {
	color: green;
}
#maintenance_color {
	color: black;
}
#plumbing_color {
	color: lightblue;
}
#electric_color {
	color: #fcc01e;
}
#flag_0 {
	color: red;
	font-weight: bold;
}
#flag_1 {
	color: orange;
}
#flag_2 {
	color: blue;
}
#flag_3 {
	color: green;
}
/*
#############################################################################
#############################################################################
*/

/*
=============================================================================
================================================== ALIGNMENT & HEADINGS =====
=============================================================================
*/

.table {
	width: 100%;
}
h2, h3, h4, h5, h6 {
	text-align: center;
	padding: 20px;
}

.contact, .edit, .new-form, .login,
.password_reset {
	text-align: center;
	font-size: 16px;
	padding: 20px;
}

.pagination {
	padding: 0 0 10% 40%;

}
.about_intro, .password_reset_done {
	margin: 60px;
	text-align: justify;
	line-height: 30px;
}
#footer {
  	right: 0;
  	left: 0;
  	padding: 50px;
  	padding-top: 110px;
  	background-color: white;
  	text-align: center;
}

.card-body {
	padding-bottom: 40px;
	text-align: justify;
}

/*
#############################################################################
#############################################################################
*/