body {
	background-color: white;
}

.row {
	height: 75px;
}

.container-fluid {
	text-align: center;
	width: 100%;
}

.detail {
	font-variant: small-caps;
	color: red;
}

.problem_title  {
	text-decoration: underline;
	text-decoration-color: blue;
	text-decoration-style: double;
}

.back {
	text-decoration: underline;
	text-decoration-color: gray;
	text-decoration-style: double;
	color: yellow;
	text-align:left;
}

.new {
	text-align: right;
}
.print {
	text-align: right;
}

.table {
	width: 100%;
}
h2, h4 {
	text-align: center;
}
.about {
	text-align: justify;
  	margin: 0 auto;
  	width: 40em;
}
.problem_options {
	text-align: right;
	color: black;
}
.problems {
	text-align: center;
	padding: 12px;
}
#garden, #maintenance, #plumbing, #electric {
	padding: 12px;
	border-radius: 10px;
}
#contact {
	color: orange;
	padding-left: 120px;
}
.contact {
	text-align: center;
	font-size: 16px;
}
#garden_color {
	color: green;
}
#maintenance_color {
	color: black;
}
#plumbing_color {
	color: blue;
}
#electric_color {
	color: #fcc01e;
}
.section-problems {
	float: left;
	width: 100%;
}
.section-garden {
	float: left;
	width: 50%;
}
.section-plumbing {
	float: left;
	width: 50%;
}
.section-maintenance {
	float: left;
	width: 50%;
}
.section-electric {
	float: left;
	width: 50%;
}
.section-garden, .section-plumbing, .section-maintenance, .section-electric {
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin: 5px 0px ;
}
.nav-item, .nav-link {
	text-align: center;
}


 