{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% block title %}
    Detail - {{ block.super }}
{% endblock title %}

{% block content %}

    <h4>
    	<a href="#", onClick="history.go(-1);return true;" button type="submit" class="btn btn-outline-dark",></button><i class="fas fa-angle-double-left"></i> Back</a>
    </h4>

    


<div class="problem_title">
	<h3>{{maintenance.location}}</h5>
</div>

    {{maintenance.descr|safe|linebreaks}}
    <div class="detail">

        <h6>on {{maintenance.date}}, posted by {{maintenance.author}}</h6>

    </div>
    <td><a href="{% url 'maintenance_edit' pk=maintenance.pk %}"><span class="glyphicon glyphicon-edit"></span>Edit</a></td>
                    <td><a href="{% url 'maintenance_delete' pk=maintenance.pk %}"><span class="glyphicon glyphicon-trash"></span>Done</a></td>
    



{% endblock content %}